@media only screen and (max-width: 76.1875em){html .md-nav--primary .md-nav__title--site{background-color:#000;color:#000}html .md-nav--primary .md-nav__title~.md-nav__list{background-color:#000}.md-nav{background-color:#333}html .md-nav--primary .md-nav__title{background-color:#10cfff}}.md-header{background-color:#000}.md-container{background-color:#333}.md-typeset .footnote{color:#ccc}body{color:#ccc}.md-typeset pre{background-color:#000}.md-typeset code{color:#ccc;box-shadow:.29412em 0 0 #272722,-0.29412em 0 0 #272722;background-color:#272722}.md-nav__link[data-md-state=blur]{color:rgba(230,230,230,.54)}.md-typeset h1{color:#ccc}.md-typeset a,md-nav__link,md-nav__link:hover{color:#10cfff}a footnote-ref::before{border-color:#10cfff}a footnote-ref::before{color:#10cfff}.md-nav__item--active>.md-nav__link,.md-nav__link:active{color:#10cfff}.md-nav--secondary{border-left:.4rem solid #000}.md-nav__link:focus,.md-nav__link:hover{color:#10cfff}.md-typeset hr{border-bottom:.1rem dotted #666}.md-footer-copyright{color:#666}.md-typeset blockquote{padding-left:1.2rem;border-left:.4rem solid rgba(230,230,230,.26);color:rgba(230,230,230,.54)}.md-typeset .codehilite code,.md-typeset .codehilite pre,.md-typeset .highlight code,.md-typeset .highlight pre{color:#fff}.md-clipboard:before{transition:color .25s,opacity .25s;transition-property:color,opacity;transition-duration:.25s,.25s;transition-timing-function:ease,ease;transition-delay:0s,0s;color:rgba(240,240,240,.07);content:""}.md-typeset .superfences-tabs{background-color:#272722}div.superfences-content pre{border-top:1px solid #333}/*# sourceMappingURL=extra.css.map */

element.style {
}
.md-typeset table:not([class]) td:not([align]), .md-typeset table:not([class]) th:not([align]) {
    text-align: left;
}
.md-typeset table:not([class]) th {
    min-width: 5rem;
    padding: .6rem .8rem;
    background-color: rgba(0,0,0,.54);
    color: #fff;
    vertical-align: top;
}

.md-typeset table:not([class]) {
    background-color: inherit;
}

.md-typeset code {
    box-shadow: none;
}